<%-include("./includes/head")%>
<body>
    <%-include("./includes/header")%>
    <%-include("./includes/contactModals")%>
    <div class="profile_content">
        <%-include("./includes/profile-pc")%>
        <section id="profile_data">
            <figure id="profile_photo_mobile">
                <img src="/images/default_pofile.jpg">
            </figure>
            <div id="main_profile_data">
                <h3>Alumno ID 25</h3>
                <h2>Apellido Nombre</h2>
                <p>Argentino/a</p> <p>Masculino</p>
                <p>Fecha de nacimiento: 02/05/1985</p>
            </div>
            <div id="main_contact_data">
                <h3>Datos de contacto</h3>
                <p>apellido.nombre@gmail.com</p>
                <p>+54 9 11 76256584</p>
                <p>27-24586214-5</p>
            </div>
            <a href="#" id="edit_profile_pc">Editar</a>
        </section>
        <a href="#" id="edit_profile_mobile">Editar</a>
    </div>
    <%-include("./includes/footer")%>
</body>
</html>