<%-include("./includes/head")%>
<body>
    <%-include("./includes/header")%>
    <%-include("./includes/contactModals")%>
    <section id="whole_letter">
        <%-include("./includes/profile-pc")%>
        <figure id="welcome_letter_figure">
            <img src="/images/welcome_letter-01.jpg" id="welcome_letter">
        </figure>
        <div id="icons">
            <a href="#"><i class="fa-solid fa-download"></i></a>
            <div id="pagination">
                <i class="fa-solid fa-angle-left"></i>
                <i class="fa-solid fa-angle-right"></i> 
            </div>
        </div>
    </section>
    <%-include("./includes/footer")%>
    <script src="/js/welcomeLetterPagination.js"></script>
</body>
</html>